<div id="form">
<form action="/about" method="post">
  <p>
    <label>Name:</label>
    <input type="text" value="" name="name" />
  </p>

  <p>
    <label>Age:</label>
    <input type="text" value="" name="age" />
  </p>

  <p>
    <label>Programming Language</label><br />
    <select name="lang">
      <option value="Ruby">Ruby</option>
      <option value="Javascript">JavaScript</option>
      <option value="Whitespace"> </option>
      <option value="BrainFuck"><<>>+\|</option>
      <option value="frizzle fry">frizzle fry</option>
    </select>
  </p>

  <p>
    Did you enter name?<input type="checkbox" name="name2" value="yes"><br />
    Did you enter age?<input type="checkbox" name="age2" value="no">
  </p>

  <p>
    his<input type="radio" name="input" value="yes"><br />
    her<input type="radio" name="circle" value="yes">
  </p>

  <p>
    <label>Bio:</label><br />
    <textarea name="bio" rows="8" cols="40"></textarea><br />
    <label>Interests:</label><br />
    <textarea name="more"rows="8" cols="40"></textarea>
  </p>

  <p>
    enter password<input type="password" name="pwd">
  </p>

  <p>
    <input type="submit" value="Send Data" />
  </p>

</form>
</div>
